**Assignment** find the categorical variable using a different dataset than iris and titanic 
> so I use my own.
> Use comments to explain the code

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import precision_score,recall_score,f1_score,accuracy_score #we import metrices to evaluate the result and compare it
from sklearn.model_selection import train_test_split # it will split the data to trian and test
from sklearn.linear_model import LogisticRegression # linear regression algorithms
from sklearn.svm import SVC # Support vector classification algo
from sklearn.tree import DecisionTreeClassifier  # Dicision tree classifier algo
from sklearn.ensemble import RandomForestClassifier # random forest algo
from sklearn.neighbors import KNeighborsClassifier # KNN classifier algo

In [ ]:
df = pd.read_csv("AmazonSalesData.csv") # my data
df.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75

In [ ]:
X = df[['Units Sold','Unit Price','Unit Cost','Total Revenue','Total Cost','Total Profit']] # spliting the data in x and y
y = df['Item Type']

In [17]:
X

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 6 columns]

In [18]:
y

0           Baby Food
1              Cereal
2     Office Supplies
3              Fruits
4     Office Supplies
           ...
95            Clothes
96             Fruits
97         Vegetables
98      Personal Care
99          Household
Name: Item Type, Length: 100, dtype: object

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=42)#  here we split the data in X,y train and test

models = [LogisticRegression(),SVC(),KNeighborsClassifier(),DecisionTreeClassifier(),RandomForestClassifier()] # all the models that we want to compare
model_name = ['Logistic Regression',"SVC","KNN","DicisionTree Classifier", "Random forest classification"] # names of all the models

model_score = [] # we will store the names and score (accuracy ) in this

for model ,model_name in zip(models,model_name): # for loop model( X a c whatever), model name in zip ( zip is a function that zip togethe two values in this case we models and models name)
    model.fit(X_train,y_train) # for loop will iterate every model once and also will fit the data on it here in this stage
    y_pred = model.predict(X_test) # prediction about the data
    accuracy = accuracy_score(y_test,y_pred) # accuracy of the prediction 
    model_score.append([model_name,accuracy])  # it will add the name and the accuracy of the model to model_score
    
sorted_models = sorted(model_score,key=lambda x:x[1], reverse=True) # will order the models according to accuracy from high to low 

for model in sorted_models: # iterate every model 
    print("Accuracy Score : ", f'{model[0]} : {model[1]:.2f}') # model[0] mean model_names and model[1] mean accuracy and :. 2f mean two dicimal after the accuracy

c:\Users\khattak\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy Score :  Logistic Regression : 1.00
Accuracy Score :  DicisionTree Classifier : 1.00
Accuracy Score :  Random forest classification : 0.90
Accuracy Score :  KNN : 0.20
Accuracy Score :  SVC : 0.15

I tried to perform other test(pricision and recall and F1 but we can't do it because it can only be performed on the binary or atleast that what it says)

___

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=42)

model = LogisticRegression(random_state= 42)
model.fit(X_train,y_train)
y_pred = model.predict([[1485,154.06,90.93,228779.10,135031.05,93748.0]])

y_pred

c:\Users\khattak\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\khattak\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Vegetables'], dtype=object)

> all too well its working we can surely find a category variable by taking the inputs of continous variables and discrete variable