<center ><h1>multiple regression

In [11]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error ,mean_squared_error,r2_score

In [12]:
iris = sns.load_dataset('iris')

Since in regression we cant predict categorical variable but continous so species should be removed

In [13]:
iris = iris.drop(columns='species')
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [14]:
x= iris.drop(columns='petal_width')
y= iris["petal_width"]

In [15]:
x

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [16]:
y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [19]:
x_train,x_test,y_train,y_test  = train_test_split(x,y, train_size=0.80, random_state=0)

#model
model = LinearRegression()

#taining
model.fit(x_train,y_train)

#prediction 
predict = model.predict(x_test)

print("r2 score : ",model.score(x_test,y_test))

predict

r2 score :  0.8913387386207351

array([1.86645114, 1.12759415, 0.28228812, 2.21548977, 0.26859434,
       2.34066612, 0.18476739, 1.54022508, 1.51048714, 1.23183508,
       2.02661001, 1.51615324, 1.59765567, 1.46572209, 1.61834889,
       0.27763906, 1.53374709, 1.51899923, 0.17339814, 0.18786676,
       1.80176771, 1.6341138 , 0.51747143, 0.23237842, 1.62999739,
       0.12835384, 0.54048917, 1.38939017, 0.98165051, 0.32085443])

from the score we can say it is near the 1 so the accuracy is ok

In [21]:
#lets check the accuracy
mse = mean_squared_error(y_true=y_test,y_pred=predict)
r2 =r2_score(y_true=y_test,y_pred=predict)

print(f"MSE : {mse}")
print(f"r2_score : {r2}")

MSE : 0.05216827158818507
r2_score : 0.8913387386207351