## Pandas day 7

## importing pandas

In [1]:
import pandas as pd

> declaring a variable `df` which hold pandas as pd\
> Adding the excel file

In [2]:
df = pd.read_excel("pandas_01_day7.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

> Printing df

In [73]:
df

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

> Checking the head of the df sheet\
> (you can the no. of rows you want to check in in parenthesis)

In [74]:
df.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

> checking the tail rows

In [75]:
df.tail()

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

>Checking the shape of the rows and column

In [76]:
df.shape

(87, 3)

>Getting the information about the file

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

>Checking the statistical  discription of the file

In [78]:
df.describe()

           Height      Weight
count   87.000000   87.000000
mean     8.020230   70.459770
std     18.172758   16.753899
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.000000
75%      5.850000   80.000000
max    167.000000  125.000000

>Checking the data types of the column

In [79]:
print(df.dtypes)

Height            float64
Weight              int64
Favourite Dish     object
dtype: object

> Checking the columns

In [80]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

### changing the datatypes of the columns

**changing datatype of multiple columns**

In [81]:
df = df.astype({
    "Height": "float",
    "Weight" : "int8"
})
df.dtypes

Height            float64
Weight               int8
Favourite Dish     object
dtype: object

changing single column datatype

In [82]:
df['Height'] = df['Height'].astype(int)

>Checking the datatypes to see if it worked

In [83]:
print(df.dtypes)

Height             int64
Weight              int8
Favourite Dish    object
dtype: object

> Getting the info about a single column or selecting a single column

In [84]:
print(df['Height'])

0     5
1     6
2     5
3     5
4     5
     ..
82    5
83    5
84    5
85    6
86    5
Name: Height, Length: 87, dtype: int64

`sorting index`

In [85]:
df.sort_index(ascending=False)

    Height  Weight Favourite Dish
86       5      96        Biryani
85       6      68  Chicken Pulao
84       5      61        Biryani
83       5      75  Karahi Ghosht
82       5      55          Pasta
..     ...     ...            ...
4        5      55  Chicken Pulao
3        5      95  Chicken Pulao
2        5      62  Karahi Ghosht
1        6      92        Biryani
0        5     101  Chicken Pulao

[87 rows x 3 columns]

>Transposing the rows and columns

In [86]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
Height,5,6,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,6,5
Weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
Favourite Dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

##### sort values

What sort_values do is it sort the values from lowest to biggest  according to the columns

In [87]:
df.sort_values(by="Weight",)
# here we have sorted the values of weight from lowest to biggest

    Height  Weight Favourite Dish
26       5      25        Biryani
35       5      31        Biryani
44       5      48        Biryani
42       5      49  Chicken Pulao
40       5      50  Chicken Pulao
..     ...     ...            ...
86       5      96        Biryani
0        5     101  Chicken Pulao
33       5     103    Chapel Kaba
34       6     110    Chapel Kaba
75       6     125    Chapel Kaba

[87 rows x 3 columns]

In [70]:
df.dtypes

Height             int64
Weight              int8
Favourite Dish    object
dtype: object