In [23]:
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error ,r2_score,precision_score, recall_score

import streamlit as st

from ydata_profiling import ProfileReport

In [24]:
df = pd.read_csv('AmazonSalesData.csv')
df.head()

                              Region  ... Total Profit
0              Australia and Oceania  ...    951410.50
1  Central America and the Caribbean  ...    248406.36
2                             Europe  ...    224598.75
3                 Sub-Saharan Africa  ...     19525.82
4                 Sub-Saharan Africa  ...    639077.50

[5 rows x 14 columns]

In [32]:
df.tail(5)

                Region       Country  ...  Total Cost Total Profit
95  Sub-Saharan Africa          Mali  ...    31825.92     65214.72
96                Asia      Malaysia  ...    43367.64     15103.47
97  Sub-Saharan Africa  Sierra Leone  ...   135031.05     93748.05
98       North America        Mexico  ...   326815.89    144521.02
99  Sub-Saharan Africa    Mozambique  ...  2697132.18    889472.91

[5 rows x 14 columns]

In [26]:
profile = ProfileReport(df , title='AmazonSalesData', explorative=True)

profile.to_file("AmazonSalesData.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [27]:
X = df[['Units Sold','Unit Price'	,'Unit Cost',	'Total Revenue'	,'Total Cost']]
y = df['Total Profit']

In [28]:
X_train, X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=42 )

# fitting and creating a model for it
model = DecisionTreeRegressor(max_depth=10)

model.fit(X_train,y_train)

predicts = model.predict([[9925	,255.28,	159.42,	2533654.00	,1582243.50]])

d:\programs\miniconda3\envs\tf_env\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [29]:
predicts

array([825738.04])

In [30]:
# for classification
X1 = df[['Units Sold','Unit Price'	,'Unit Cost',	'Total Revenue'	,'Total Cost','Total Profit']]
y1 = df['Region']

X_train, X_test,y_train,y_test = train_test_split(X1,y1, test_size=0.2, random_state=42 )

# fitting and creating a model for it
model = DecisionTreeClassifier(max_depth=10)

model.fit(X_train,y_train)

predictss = model.predict([[9925	,255.28,	159.42,	2533654.00	,1582243.50,951410.50]])

d:\programs\miniconda3\envs\tf_env\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [31]:
predictss

array(['Australia and Oceania'], dtype=object)