### this is the 3rd part of the day 8

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

In [14]:
df = sns.load_dataset('tips')

>checking the length

In [15]:
len(df)

244

In [16]:
df.shape

(244, 7)

>creating 1 data set from df

In [17]:
import random as random
tip_01=df.sample(frac=0.5, random_state=1)

In [18]:
tip_01.shape

(122, 7)

> making of 2nd dataset from df

In [19]:
tip_02=df.drop(tip_01.index)

In [20]:
tip_02.shape

(122, 7)

checking both of them

In [21]:
tip_01.head()

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
243       18.78  3.00  Female     No  Thur  Dinner     2
206       26.59  3.41    Male    Yes   Sat  Dinner     3
122       14.26  2.50    Male     No  Thur   Lunch     2
89        21.16  3.00    Male     No  Thur   Lunch     2

In [22]:
tip_02.head()

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2
6        8.77  2.00  Male     No  Sun  Dinner     2
7       26.88  3.12  Male     No  Sun  Dinner     4

combine and check

In [23]:
len(tip_01)+len(tip_02)

244

## joining two data set

`using concat function`

In [ ]:
tips1 = pd.concat ([tip_01, tip_02], ignore_index=True)
tips1

In [27]:
tips1.shape

(244, 7)