# pandas tips and tricks

In [1]:
import pandas as pd

Version checking

In [2]:
pd.__version__

'2.2.2'

In [4]:
pd.show_versions()

c:\Program Files\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.11.3.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 10
Version               : 10.0.18363
machine               : AMD64
processor             : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United States.1252

pandas                : 2.2.2
numpy                 : 2.0.0
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 65.5.0
pip                   : 24.1.2
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : None
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.4
IPython               : 8.26.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
gcsfs                 : None
matplotlib            : 3.9.1
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2024.1
qtpy                  : None
pyqt5                 : None

# Making  data frame (tables)

In [8]:
df = pd.DataFrame({'NAME':["Ahmad","Hammad","Zohaib"], 'ROLL NO.':[11,16,33]})
df

     NAME  ROLL NO.
0   Ahmad        11
1  Hammad        16
2  Zohaib        33

Using numpy to create array then dataframe

In [21]:
import numpy as np
arr = np.array([[4,5,6],[8,9,10]])
pd.DataFrame(arr)

   0  1   2
0  4  5   6
1  8  9  10

Creating a random array in numpy

In [27]:
pd.DataFrame(np.random.rand(3,4), columns=list('abcd'))

          a         b         c         d
0  0.748705  0.252808  0.078350  0.503870
1  0.965680  0.963507  0.636879  0.149579
2  0.811020  0.804236  0.793480  0.820146

 # Renaming the columns

renaming the column way 1\
we can use this one for more than one also

In [ ]:
df.rename(columns={'NAME': 'NOCHE'}, inplace=True)
df

Another one

In [47]:
df.columns=['nombre', 'roll no']
df

   nombre  roll no
0   Ahmad       11
1  Hammad       16
2  Zohaib       33

adding prefix and suffix

In [49]:
df.add_prefix('ok ')

  ok nombre  ok roll no
0     Ahmad          11
1    Hammad          16
2    Zohaib          33

adding suffix

In [50]:
df.add_suffix('no.1')

  nombreno.1  roll nono.1
0      Ahmad           11
1     Hammad           16
2     Zohaib           33