## How to import data sets in python
> Written by : Ahmad \
> Date : 12/07/2024\
> Email : lukes4973@outlook.com

In [12]:
#impoting panda library
import pandas as pd

In [13]:
#importing the file
df = pd.read_excel("pandas_01_day6.xlsx")
print(df)

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [14]:
df.shape

(87, 3)

In [15]:
df.head(10)

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani
6     5.6      50          Pasta
7     5.9      76        Biryani
8     5.1      78        Biryani
9     5.4      68        Biryani

In [16]:
df.tail()

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB